{% extends "base.html" %}
{% block title %}{% i18n "Change password" %}{% endblock %}

{% block content %}
<div class="row">
                <div class="col-xs-12">
	 {% if error_msg %}
                <div class="alert alert-danger">
			{{ error_msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                </div>
         {% endif %}
<form class="form-signin" method="post" onsubmit="return checkPassword(this)">
<h2 class="modal-title">Change password</h2>
  <div>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div>
    <label for="password_conf">Password Confirmation</label>
    <input type="password" class="form-control" id="password_conf" name="password_conf" required>
  </div>
   <div class="form-model-footer">
  <button type="submit" class="btn btn-primary">Update</button>
   </div>
</form>
{% endblock %}
</div>
</div>
